// $baseColor: rgb(102, 206, 54);
$baseColor: #e43a3d;

body{ 
    background-color: $baseColor;
    font-weight: bold;   
}

.page-enter-active, .page-leave-active {
    transition: opacity .5s;
  }
  .page-enter, .page-leave-to {
    opacity: 0;
  }